<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="client">
        <mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.client}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef> Next Service </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.dueDate}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="serviced">
        <mat-header-cell *matHeaderCellDef> Serviced </mat-header-cell>
        <mat-cell *matCellDef="let service"> {{service.serviced}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>